<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/eddy-lau/cdb-ota/releases/download/cdb_6.0.0_57/ChineseDailyBreadDev32.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://eddy-lau.github.io/cdb-ota/AppIcon-120x120.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>org.hksu.ChineseDailyBread</string>
				<key>bundle-version</key>
				<string>6.0.0 (57)</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>每日讀經釋義 6.0.0 (57)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
